In [1]:
import pandas as pd

In [2]:
csv_file = '../Cleaned_data/train_converted_df.csv'
csv_file

'../Cleaned_data/train_converted_df.csv'

In [3]:
final_train_df = pd.read_csv(csv_file)
final_train_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,firstflrsf,secondflrsf,thirdPorch
0,1,60,65.0,8450,7,5,2003,2003,196.0,4,...,0,1,0,0,0,1,0,856,854,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,3,...,0,1,0,0,0,1,0,1262,0,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,4,...,0,1,0,0,0,1,0,920,866,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,3,...,0,1,0,0,0,0,0,961,756,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,4,...,0,1,0,0,0,1,0,1145,1053,0

In [4]:
train_final_df = final_train_df.loc[:, ["firstflrsf", "GrLivArea", "LotArea", "GarageArea", "BsmtUnfSF", "TotalBsmtSF", "LotFrontage", "GarageYrBlt", "MoSold", "YearBuilt"]]
train_final_df.head()

,firstflrsf,GrLivArea,LotArea,GarageArea,BsmtUnfSF,TotalBsmtSF,LotFrontage,GarageYrBlt,MoSold,YearBuilt
0,856,1710,8450,548,150,856,65.0,2003.0,2,2003
1,1262,1262,9600,460,284,1262,80.0,1976.0,5,1976
2,920,1786,11250,608,434,920,68.0,2001.0,9,2001
3,961,1717,9550,642,540,756,60.0,1998.0,2,1915
4,1145,2198,14260,836,490,1145,84.0,2000.0,12,2000

In [5]:
train_final_df.to_csv(r'F:/House-Pricing-Predictions/Cleaned_data/train_sql_final_df.csv', index = False)